appdirs==1.4.3
argcomplete==1.8.2
base58==0.2.4
boto3==1.4.4
botocore==1.5.40
click==6.6
docutils==0.12
durationpy==0.4
future==0.16.0
futures==3.1.1
hjson==2.0.2
jmespath==0.9.2
kappa==0.6.0
lambda==0.0.1
olefile==0.44
packaging==16.8
Pillow==8.1.1
placebo==0.8.1
pyaml==15.8.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-lambda==0.5.0
python-slugify==1.2.4
PyYAML==3.12
requests==2.14.2
s3transfer==0.1.10
six==1.10.0
toml==0.9.2
tqdm==4.11.2
troposphere==1.9.3
Unidecode==0.4.20
Werkzeug==0.12
wsgi-request-logger==0.4.6
